{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-debugger": 0,
    "no-alert": 0,
    "no-console": 0,
    "max-len": 0,
    "no-useless-return": 0,
    "no-useless-escape": 0,
    "global-require": 0
  }
}